.presentation{
    margin: 0;
    height: 636px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroud-color-blue);
}

.texts {
    /* background-color: red; */
    padding: 1rem 0rem 5rem 2rem;
    align-items: center;
}

.presentation h1 {
    font-family: "Silkscreen";
    font-size: 50pt;
    color: var(--primary-color-yellow);
}
.presentation h2 {
    font-family: "Silkscreen";
    font-size: 35pt;
    color: var(--primary-color-green);
}

.presentation p{
    font-family:'Josefin_slab';
    font-size: 26pt;
    color: var(--off-white);
}

.presentation img {
    /* background-color: black; */
    position: relative;
    margin-left: -20rem;
    z-index: 1;
    width:692px;
    height:582px;
    object-fit: cover;
}