.presentation{
 
    align-items: center;
    justify-content: center;
    background-color: var(--backgroud-color-blue);
   
    
}


.presentation h1 {
    font-family: "Silkscreen";
    font-size: 40px !important;
    color: var(--primary-color-yellow);
}
.presentation h2 {
    font-family: "Silkscreen";
    font-size: 25px;
    color: var(--primary-color-green);
}

#text1, #text2{
  
    /* background-color: blue; */
    font-family:'Josefin_slab';
    font-size: 30px;
    color: var(--off-white);
    text-align: justify;
    text-justify: inter-word;
    
   
    

}


@media (min-width: 1001px) {
    #image {
        /* background-color: black; */
        position: relative;
       
        height:100%;
    
    }
}

/* Opcional: ajuste para mobile */
@media (max-width: 1000px) {
    #image {
        /* background-color: black; */
        position: relative;
       
       
    
    }
}