


#sectionCalculate{

    margin-top: 0%;
    background-color: var(--primary-color-primary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

}


#arrowCalculate {
    margin: 20px auto;
}

.titleCalculate {
    text-align: center;
    color: var(--terciary-color-green);
    font-family: "Silkscreen", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

.paragraphCalculate {
    width: 80%;
    margin: 20px auto;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    color: black;
    font-family: "Josefin Slab", serif;
}



