



#sectionC{

    width: 100%;
    margin-top: 0%;
    background-color: var(--primary-color-primary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
   
}
.pokemon-section{
    width:620px;
    height: 800px;
    margin-top: -520px;
    margin-left: 0px;
}
.arrow{
    background-color: var(--primary-color-primary);
    margin-left: 50%;    
    margin-right: 50%;

}

.title{
        
  
    color: var(--terciary-color-green);
    font-family: "Silkscreen";
    font-size: 35px;
    
}



p{
    
    font-size: 30px;
}
.paragraph{
    color: black;
    font-family: "Josefin_Slab";
    
}

#sectionA{
    width: 100%;
    margin-top: 0%;
    background-color: var(--primary-color-primary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    width: 100%;

    
    
    

}
// blue

#arrow-white{
    width: 40px;
    height:40px;
    margin-left: 50%;
    margin-right: 50%;
}





#sectionB{
    background-color: var(--primary-color-primary );
    width: 100%;
   height: 100%;
  
    background-color: var( --backgroud-color-blue);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}


#arrow{
    margin-top: 0px ;
}


.titulo{
    color: var(--secondary-color-yellow);
    font-size: 28px;
}

.paragraph11{
    font-family: "Josefin_Slab";
 
}

.paragraph22{
    font-family: "Josefin_Slab";
    
    height: 100%;
    width: 100%;
}
