@import '../variables.css';

@font-face {
  font-family: "Josefin_Slab";
  src: url('/public/fonts/Josefin_Slab/static/JosefinSlab-Regular.ttf');
}
@font-face {
  font-family: "Silkscreen";
  src: url('/fonts/Silkscreen/Silkscreen-Regular.ttf');
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal, se não for necessária */
}