:root {
    --background-color-blue: #003478;
    --primary-color-primary: #D9D9D9;
    --terciary-color-green: #02592F;
    --primary-color-blue: #02599A;
    --secondary-color-yellow: #FFD700;
    --background-color-green: #00A368;
    --off-white: #F0F0F0;
}

#background {
    background-color: var(--background-color-blue);
    padding: 20px;
}

#sectionC {
    background-color: var(--primary-color-primary);
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
}

#arrow {
    margin: 20px auto;
}

.title {
    text-align: center;
    color: var(--terciary-color-green);
    font-family: "Silkscreen", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

p {
    width: 80%;
    margin: 20px auto;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    color: black;
    font-family: "Josefin Slab", serif;
}

#pokemon-sectionC {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px auto;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    margin: 10px 0;
}
