#found-color{
    width: 100%;
    background-color: var(--primary-color-primary);
}

#sectionD{
    width: 100%;
   
   
    background-color: var( --backgroud-color-blue);
   
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.titulo2{
    color: var(--secondary-color-yellow);
    font-size: 28px;
    margin-top: 30px;
    margin-left: 15%;

}

.prg1{
    font-family: "Josefin_Slab";
   
}

.prg2{
    
}

#calculator2{
    margin-top: 50px;
    
    font-size: 17px;
}

#eletric-pokemon-5{
   
    height: 800px;
  
}

@media (min-width: 1001px) {
 
    #eletric-pokemon-5{
   
        height: 800px;
      
    }
}

/* Opcional: ajuste para mobile */
@media (max-width: 1000px) {
    
    #eletric-pokemon-5{
   
        height: 100px;
      
    }
}