#background {
    background-color: var(--backgroud-color-blue);
}

#sectionD {
    margin-top: 0%;
    background-color: var(--backgroud-color-blue);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

#arrow {
    background-color: var(--primary-color-primary);
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 100px;
}

.texts {
    margin-top: 20px;
}

.title {
    text-align: center;
    color: var(--primary-color-yellow);
    font-family: "Silkscreen";
    font-size: 35px;
}

.paragraph1 {
    color: var(--off-white);
    font-size: 30px;
    width: 100%;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: -500px;
    text-align: left;
    font-family: "Josefin_Slab";
}

.paragraph3 {
    color: var(--off-white);
    margin-left: 70px;
    font-size: 30px;
    font-family: "Josefin_Slab";
}

#calculator {
    width: 10%;
    margin-left: 280px;
    margin-top: 80px;
}

#eletric-pokemon-5{
    width: 850px;
    height: auto;    
    margin-top: -530px;
    margin-left: 720px;

}



