#background{
    background-color: var(--backgroud-color-blue);
}



#sectionC{
    margin-top: 0%;
    background-color: var(--primary-color-primary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

}

#arrow{
    background-color: var(--primary-color-primary);
    margin-left: 50%;
    margin-right: 50%;

}

.title{

    text-align: center;
    color: var(--terciary-color-green);
    font-family: "Silkscreen";
    font-size: 35px;

}

.title p{
    width: 65%;
    margin-top: 50px;
    margin-left: 47%;
    margin-right: 0px;
    text-align: left;
    font-size: 30px;
}
.title .paragraph{
    color: black;
    font-family: "Josefin_Slab";
}

#paragraph2{
    margin-left: -650px;
}

#pokemon-sectionC{
    width:620px;
    height: 800px;
    margin-top: -530px;
    margin-left: 0px;


}

