.header {
    position: fixed;
    margin: 0;
    width: 111.3rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroud-color2-blue);
    padding: 1rem ;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    z-index: 100;
}

#header-logo {
    height: 1rem;
}

.header-links{
    margin: 0;
    display: flex;
    font-family: "Silkscreen";
    justify-content: space-between;
    list-style-type: none;
}

.header-links li a{
    color: var(--primary-color-primary);
    text-decoration: none;
    margin: 0rem 1rem 0rem 1rem;
}
.header-links li a:hover{
    color: var(--primary-color-yellow);
}
