.background1{
    background-color: var( --backgroud-color-blue);
}


 .footer{
    width: 97.5%;
    /* height: 100px; */
    bottom: 0;
    padding: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: var(--backgroud-color2-blue);
    display: flex;
    justify-content: center;
}

#simb {
    height: 2rem;
} 