.footer{
    position: relative;
    margin-top: -1vw;
    padding: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: var(--backgroud-color2-blue);
    display: flex;
    z-index: 10;
    justify-content: center;
}

img {
    height: 2rem;
}